@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/4.4.95/css/materialdesignicons.min.css');
@import url('icon/themify-icons/themify-icons.css');

body {
    font-family: 'Nunito Sans', sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/*------------- Main Scroll START -------------*/
/*width*/
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #2B44FF;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #1027d6;
}

/*------------- Main Scroll END -------------*/

h1 {
    font-family: 'Playfair Display', serif !important;
    font-size: 24px;
    color: #111111;
    line-height: 27px;
}

h2 {
    font-family: 'Playfair Display', serif !important;
    font-size: 40px;
    font-weight: 700;
    color: #111111;
    line-height: 45px;
}

p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    color: #111111;
    line-height: 27px;
}

a {
    color: #2B44FF;
    font-weight: 700;
}

a:hover {
    text-decoration: none;
}

.primary-btn-custom {
    background: #2B44FF;
    color: #fff;
    padding: 8px 30px;
    font-size: 15px;
    border-radius: 4px;
    border: 1px solid #2b44ff;
    transition: all .3s ease-in-out;
}

.primary-btn-custom:hover {
    background: #1027d6;
    -webkit-box-shadow: 5px 5px 4px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 4px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 4px -5px rgba(0, 0, 0, 0.75);
}

.secondary-btn-cut {
    background: #ffffff;
    border: 1px solid #2B44FF;
    color: #2B44FF;
    padding: 8px 30px;
    font-size: 15px;
    border-radius: 4px;
    transition: all .3s ease-in-out;
    font-weight: 600;
}

.secondary-btn-cut:hover {
    background: #f7f7f7;
    -webkit-box-shadow: 5px 5px 4px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 4px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 4px -5px rgba(0, 0, 0, 0.75);
}

button:focus {
    outline: none;
}

.login-btn {
    border: none;
    background: none;
    color: #2B44FF;
    font-weight: 700;
    padding: 0;
}

.login-btn:focus {
    box-shadow: none;
}

/*BG colors START*/
.ap-light-box {
    background: rgba(244, 244, 248, 1);
    background: #f4f4f8;
}

.ap-pink-box {
    background: rgba(171, 28, 76, 0.1);
}

.ap-blue-box {
    background: rgba(244, 248, 252, 1);
}

.shopify-color {
    background: rgba(149, 191, 70, 0.1);
}

.etsy-color {
    background: rgba(251, 102, 23, 0.1);
}

.amazon-color {
    background: rgba(255, 154, 40, 0.1);
}

.magento-color {
    background: rgba(242, 105, 60, 0.1);
}

.amour-bg {
    background: rgba(216, 90, 141, 0.06);
    /*background: #fdf5f8;*/
}

.cerulean-bg {
    background: rgba(1, 176, 246, 0.06);
}

.geraldine-bg {
    background: rgba(253, 138, 147, 0.15);
}

.alabaster-bg {
    background: rgba(251, 251, 251, 1);
    /*background: #FBFBFB;*/
}

/*BG colors END*/
/*------------- Header NAV CSS START -------------*/
.header-bg {
    -webkit-box-shadow: 0 4px 8px -5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 4px 8px -5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 8px -5px rgba(0, 0, 0, 0.3);
    margin: 0 0 5px 0;
    -webkit-transition: position 3s;
    -moz-transition: position 3s;
    -ms-transition: position 3s;
    -o-transition: position 3s;
    transition: position 3s;
}

.stickynav {
    background: #ffffff;
    position: fixed;
    top: -1px;
    width: 100%;
    z-index: 1024;
    animation: smoothScroll 0.5s forwards;
}

@keyframes smoothScroll {
    0% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0px);
    }
}

.brand-logo {
    font-size: 18px;
    font-weight: 800;
    color: #111111;
}

.navbar-custom {
    padding: .5rem 0;
}

.header-nav .nav-link {
    font-size: 16px;
    font-weight: 600;
    color: #111111;
    margin: 0 10px;
    border-bottom: 3px solid transparent;
    transition: all .3s ease-in-out;
}

.header-nav .nav-link:hover {
    color: #2B44FF;
    border-bottom: 3px solid #2B44FF;
}

/*Hamburger Menu START*/
.custom-hamburger {
    /*background: #2b44ff;*/
    padding: 6px 6px 8px 6px;
}

#nav-icon3 {
    width: 20px;
    height: 16px;
    position: relative;
    margin: 0 auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon3 span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #000000;
    border-radius: 10px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

/* Icon 3 */

#nav-icon3 span:nth-child(1) {
    top: 0;
}

#nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
    top: 8px;
}

#nav-icon3 span:nth-child(4) {
    top: 16px;
}

#nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0;
    left: 50%;
}

.custom-nav-collapse {
    margin: 0 auto;
    text-align: center;
}

.custom-nav-collapse form {
    display: block;
}

/*Hamburger Menu END*/

/*------------- Header Nav CSS END -------------*/

/*------------- Home page CSS START -------------*/
.header-right-bnr {
    background: url('../img/header-right-bnr.png') center repeat-y;
    position: relative;
    left: 12%;
}

.header-img {
    padding: 20px 0 20px 50px;
}

.header-heading {
    /*margin: 50px 0 0 0;*/
}

.header-heading h1 {
    font-size: 52px;
    color: #111111;
    line-height: 70px;
    font-weight: 600;
}

.header-heading p {
    width: 70%;
    margin: 15px 0;
}

.header-heading span {
    display: block;
    font-size: 14px;
    color: #111111;
    margin: 10px 0;
}

.recent-orders p {
    font-weight: 700;
}

.location-icon {
    padding: 0 5px 0 0;
}

.location-icon span {
    font-size: 25px;
    color: #2B44FF;
    position: relative;
    left: -4px;
}

.recent-locations {
    white-space: nowrap;
}

.recent-locations span {
    font-size: 14px;
    color: #777777;
}
.pdo-icon{

}
.pdo-icon span {
    font-size: 35px;
}

.pdo-heading p {
    font-weight: 700;
    margin: 5px 0;
}

.pdo-text p {
    font-size: 15px;
}

.amazing-products {
    margin-top: 6%;
}

.ap-main-heading p {
    font-weight: 600;
}

.ap-boxes {
    height: 375px;
    -webkit-box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.3);
    padding: 10px;
    transition: all .3s ease-in-out;
}

.ap-boxes:hover {
    -webkit-box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.2);
}

.ap-boxes:hover a {
    text-decoration: none;
}

.ap-item-img img {
    width: 100%;
    height: 275px;
    object-fit: contain;
}

.ap-text-info {
    position: relative;
    top: 20px;
}

/*Connect store CSS START*/
.connect-store {
    padding-top: 6%;
    background: url('../img/connect-store-bnr.png') center;
    background-size: 100% 100%;
}

.cont-str-box {
    height: 345px;
    -webkit-box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.3);
    padding: 20px 10px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.cont-str-box:hover {
    transform: scale(1.05);
    /*box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.1), inset 0 0 135px -32px rgba(0, 0, 0, 0.1);*/
}

.cont-str-img img {
    width: 100%;
    height: 120px;
    object-fit: contain;
    padding: 10px;
}

.cont-str-text {
    margin-top: 12px;
}

.cont-str-text .cont-text {
    font-weight: 600;
    margin: 10px 0;
    font-size: 15px;
}

.cont-direction {
    position: relative;
    /* bottom: -20px; */
    left: 0;
    right: 0;
    top: 25px;
}

.cont-direction span {
    font-size: 25px;
    color: #2B44FF;
}

.coming-soon {
    background: #2B44FF;
    color: #ffffff;
    width: 140px;
    font-size: 12px;
    margin: 0 auto;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 3px 0;
}

/*Connect store CSS END*/

.allyouneed {
    margin-top: 6%;
}

.makingmoney {
    margin-top: 6%;
}

.mm-calc p {
    line-height: 40px;
}

.mm-calc p a {
    color: #2B44FF !important;
}

.mm-calc span {
    font-weight: 800;
}

.mm-btn-text span {
    margin-top: 15px;
    display: block;
    font-size: 14px;
    font-weight: 700;
}

.proud-moment {
    margin-top: 3%;
}

.team-img-left {
    height: 130px;
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    align-content: center;
}

.team-img-left .img-position {
    position: absolute;
    left: 0;
}

.team-img-right {
    height: 130px;
    width: 100%;
    text-align: right;
    display: flex;
    align-items: center;
    align-content: center;
}

.team-img-right .img-position {
    position: absolute;
    right: 0;
}

.team-imgs {
    width: 150px;
    height: auto;
}

.pm-bg-img {
    position: absolute;
    right: 0;
    width: 170px;
    height: auto;
    margin: 60px 0 0 0;
}

/*------------- Home page CSS END -------------*/

/*------------- Footer CSS START -------------*/
.main-footer {
    background: #F8F8F8;
}

.footer-links h6 {
    font-size: 16px;
    font-weight: 700;
    color: #111111;
}

.footer-links ul {
    padding: 0;
    margin: 0;
}

.footer-links ul li {
    list-style: none;
    line-height: 32px;
}

.footer-links ul li a {
    font-size: 14px;
    color: #000000;
    font-weight: 500;
    transition: all .3s ease-in-out;
}

.footer-links ul li a:hover {
    text-decoration: underline;
    color: #2B44FF;
}

.footer-copyright p {
    margin: 8px 0;
}

.footer-copyright p i {
    font-weight: 700;
}

.footer-copyright span {
    font-size: 14px;
}

.footer-social {
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
}

.footer-social ul {
    padding: 0;
    margin: 0;
}

.footer-social ul li {
    list-style: none;
    display: inline;
    transition: all .2s ease-in-out;
}

.footer-social ul li a {
    font-size: 16px;
    color: #777777;
    margin: 0 5px;
    border: 1px solid #777777;
    border-radius: 100%;
    padding: 8px 10px 5px 10px;
    transition: all .2s ease-in-out;
}

.footer-social ul li:hover a {
    background: #757575;
    border: 1px solid #757575;
    color: #ffffff;
}

/*------------- Footer CSS END -------------*/

/*------------- How it works Page CSS START -------------*/
.htw-steps {
    margin-top: 1%;
}

.htw-head-bg {
    position: absolute;
    right: -24%;
    width: 305px;
    z-index: -11;
    top: 28%;
}

.htw-top-img {
    position: relative;
    left: 12%;
    width: 115%;
    height: auto;
}

.htw-qt-as {
    padding: 0 22% 0 0;
}

.htw-qt-as h5 {
    font-size: 20px;
    color: #111111;
    font-weight: 700;
}

.htw-qt-as p {
    font-weight: 600;
}

.pick-design {
    margin-top: 6%;
}

.pick-design .container {
    border-radius: 2px;
    padding: 20px 35px 80px 35px;
}

.htw-pic-dsg-bg img {
    position: absolute;
    top: 30%;
    right: 44%;
    z-index: -1;
    width: 400px;
}

.htw-text h6 {
    color: #111111;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.htw-text h2 {
    font-size: 48px;
    line-height: 60px;
    margin-top: 3%;
}

.htw-text p {
    line-height: 30px;
    margin-top: 3%;
}

.dyp-main-img {
    position: relative;
    left: 12%;
}

.htw-dsg-psn-bg img {
    position: absolute;
    top: 42%;
    left: 20%;
    z-index: -1;
    width: 400px;
}

.htw-ovr-mng-bg img {
    position: absolute;
    top: 10%;
    z-index: -1;
    left: 0;
}

/*------------- How it works Page CSS END -------------*/

/*------------- Contact Us Page CSS START -------------*/
.eager-help {
}

.cus-eger-text p {
    padding: 2% 30% 0 0;
}

.cus-eger-text a {
    display: block;
    line-height: 40px;
}

.cus-eger-text a span {
    position: relative;
    top: 2px;
}

.cus-right-bg {
    position: absolute;
    left: 10%;
    width: 115%;
    z-index: -1;
}

.cus-right-img {
    position: relative;
    left: 12%;
    top: 10px;
}

.cont-options {
    margin-top: 2%;
}

.contact-box {
    min-height: 280px;
    padding: 12% 10%;
    border-radius: 5px;
}

.v-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.cont-mode {
    margin: 0 auto;
    text-align: center;
}

.cont-mode h5 {
    font-size: 22px;
    font-weight: 700;
}

.cont-mode a {
    color: #111111;
    font-weight: 800;
}

.contact-form {
    margin-top: 2%;
}

.form-start {
    border-radius: 5px;
}

.contact-bg-art img {
    position: absolute;
    top: -12%;
    left: -10%;
    width: 300px;
    z-index: -1;
}

/*------------- Contact Us Page CSS END -------------*/

/* ------------- About us Page CSS START -------------*/
.about-us-bg {
    position: absolute;
    left: 5%;
    width: 115%;
    z-index: -1;
    top: -40px;
}

.about-ceo {
    margin-top: 6%;
}

.ceo-img span {
    display: block;
}

.about-ewi-text {
    padding: 0 0 0 10%;
}

.about-ewi-text h3 {
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
}

.abt-braces {
    position: absolute;
    font-size: 60px;
    top: -45px;
    left: 10px;
    color: #2c44ff;
    transform: skewX(-25deg) skewy(0deg);
}

.print-process {
    margin-top: 6%;
}

.abt-print-heading {
    padding: 0 10% 0 10%;
}

.abt-print-heading h2 {
    line-height: 55px;
}

.abt-tfe h6 {
    font-size: 20px;
    font-weight: 700;
}

.abt-nmbrs {
    margin-top: 2%;
    padding: 4% 0 3% 0;
}

.abt-pricing-heading {
    font-weight: 700;
}

.abt-nubrs-list h4 {
    font-size: 26px;
    font-weight: 900;
}

.abt-whtdo {
    margin-top: 6%;
}

.abt-print-bg {
    position: absolute;
    left: 90%;
    top: 0;
    right: -20%;
}

.abt-number-bg {
    position: absolute;
    z-index: -1;
    left: -54px;
}

.abt-ceo-bg {
    position: absolute;
    left: -30%;
    top: -15%;
    z-index: -1;
}

.cust-border-left {
    border-left: 1px solid #dee2e6;
    padding-left: 3%;
}

/*------------- About us Page CSS END -------------*/

/*------------- Product Catalogue CSS START ------------- */
.pro-cat-data {
    margin-top: 2%;
}

.pro-search .input-group-text {
    border: none;
    background: #F5F5F5;
}

.pro-search .form-control {
    border: none;
    background: #F5F5F5;
    padding: 22px 5px;
}

.pro-search .form-control:focus {
    box-shadow: none;
}

.pro-custom-pills .nav-link {
    border-left: 5px solid transparent;
    border-radius: 2px;
    line-height: 27px;
    color: #111;
}

.pro-custom-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #2c44ff;
    background: rgba(43, 68, 255, 0.1);
    border-left: 5px solid #2c44ff;
}

.drop-menu-test{
    background: #fff;
    text-align: center;
    padding: 10px 0;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    margin: 20px 0 0 0;
    -webkit-transition: background 2s;
    transition: background 2s;
}
.drop-menu-test ul{
    padding: 0;
    margin: 0;
}
.drop-menu-test ul li {
    list-style: none;
    display: inline-flex;
    margin: 0 15px;
    white-space: nowrap;
}
.drop-menu-test ul li a {
    color: #777777;
    font-weight: 600;
    font-size: 14px;
    transition: all .3s ease-in-out;
}
.product__header h4 {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    color: #111111;
    font-weight: 700;
}
/*------------- products catalogue v2 START -------------*/
.pro-catalogue {
    min-height: 415px;
    transition: all .2s ease-in-out;
}

.pro-catalogue:hover {
    transform: scale(1.05);
}

.pro-imgarea {
    border: 1px solid #e9ecef;
    min-height: 260px;
}

.pro-foto {
    height: 250px;
    width: 100%;
    display: flex;
    background: #fff;
}

.pro-foto a {
    display: flex;
}

.pro-foto img {
    object-fit: contain;
    margin: 0 auto;
    width: 100%;
}

.pro-cat-action {
    border: 1px solid #e9ecef;
    font-weight: 600;
    background: #fff;
    transition: all .3s ease-in-out;
}

.pro-cat-action a {
    color: #111111;
    font-size: 12px;
}

.pro-cat-action:hover {
    background: #e9ecef;
}

.pro-multi-option {
    position: absolute;
    left: 0;
    right: 0;
    top: 53.3%;
    margin: 0 10px;
    display: none;
    /*transition: all .3s ease-in-out;*/
    transition: width 2s;
    -moz-transition: width 2s; /* Firefox 4 */
    -webkit-transition: width 2s; /* Safari and Chrome */
    -o-transition: width 2s;
}

.pro-catalogue:hover .pro-multi-option {
    display: block;
    margin: 0 0;
}

.pro-main-info {
    position: relative;
    top: 5px;
}

.pro-cat-rating .rating > label {
    margin: 5px 0;
}

.pro-cat-heading h3 {
    color: #111111;
    font-size: 18px;
    font-weight: 700;
    margin: 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pro-cat-text {
    font-size: 14px;
    font-weight: 600;
    color: #111111;
}

.pro-cat-twins {
    border: 1px solid #e9ecef;
    display: inline-block;
    border-radius: 2px;
}

.pro-cat-twins .color-item {
    width: 10px !important;
    height: 20px !important;
    margin: 0 !important;
    border: none;
    border-radius: 0;
}

.pro-cat-color {
    margin: 0;
}

.pro-cat-more-color a {
    font-size: 14px;
    font-weight: 700;
    color: #0094FF;
}

.product-drop-menu {
    position: fixed;
    width: 100%;
    top: 38px;
    left: 0;
    z-index: 1;
    animation: smoothScroll 0.5s forwards;
}

/*------------- products catalogue v2 END -------------*/

/*Product rating STARTS here */
.rating {
    border: none;
    float: left;
}

.rating > input {
    display: none;
}

.rating > label:before {
    margin: 2px;
    font-size: 14px;
    /*font-family: FontAwesome;*/
    font-family: "Material Design Icons";
    display: inline-block;
    content: "\f4ce";
}

.rating > .half:before {
    content: "\f4ce";
    position: absolute;
}

.rating > label {
    color: #ddd;
    float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/
.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label {
    color: #FFD700;
}

/* hover previous stars in list */
.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label {
    color: #FFED85;
}

/*Product rating END here*/

/*color palette START*/
.component-colors-preview {
    clear: both;
    margin-top: 5px;
}

.component-colors-preview .color-item {
    float: left;
    width: 20px;
    height: 20px;
    /*border: 1px solid #ececec;*/
    border-radius: 2px;
    margin: 2px 2px 2px 2px;
}

/*color palette END*/

/*------------- Product Catalogue CSS END -------------*/

/*------------- Product Detail CSS START -------------*/
.pro-info-slider {
    left: auto;
    bottom: auto;
}

.pro-info-star-rating {
    display: inline-grid;
}

.pro-info-star-rating a {
    font-size: 14px;
    font-weight: 700;
    color: #0094FF;
    text-decoration: underline;
}

.pro-info-pricing h3 {
    font-size: 22px;
    color: #111111;
    font-weight: 700;
}

.thumb-img {
    display: grid;
    position: absolute;
    top: 0;
    left: -100%;
    bottom: auto;
}

.thumb-img li {
    display: contents;
}

.thumb-img li img {
    width: 60px;
    height: 75px;
    object-fit: cover;
    border: 2px solid #e9ecef;
    margin: 5px;
    background: #fff;
    transition: all .4s ease-in-out;
}

.thumb-text {
    display: inherit;
}

.thumb-text span {
    display: inherit;
}

.carousel-indicators {
    transition: all .4s ease-in-out;
}

.carousel-indicators .active img {
    border-bottom: 3px solid #2c44ff;
    transition: all .2s ease-in-out;
}

.checkbox-btn {
    border: 1px solid #e9ecef;
    border-radius: 4px;
    padding: 8px 18px;
    color: #000000;
    font-weight: 700;
    margin: 0 1px;
}

.pro-details-info h1 {
    font-size: 28px;
    font-weight: 700;
}

.pro-dets-des h3 {
    font-size: 20px;
    font-weight: 700;
}

.custom-breadcrumbs {
    background: no-repeat;
    margin: 0;
    padding: 10px 5px;
}

.custom-breadcrumbs .breadcrumb-item {
    font-style: italic;
    font-size: 14px;
}

.custom-breadcrumbs .breadcrumb-item a {
    color: #777777;
}

.custom-breadcrumbs .breadcrumb-item.active {
    color: #111111;
    font-weight: 700;
}

/*------------- Product Detail CSS END -------------*/

/*------------- Blog CSS START -------------*/

.blog-bg {
    position: absolute;
    left: 45%;
    width: 115%;
    z-index: -1;
    top: -56px;
}

.blog-bg img {
    border-radius: 10px;
}

.blog-store-bg {
    position: absolute;
    left: -58%;
    top: 8%;
    z-index: -1;
}

.blog-integrated {
    margin-top: 6%;
}

.blog-intes-text h5 {
    font-size: 24px;
    font-weight: 700;
}

.blog-post-area {
    max-height: 380px;
    overflow: hidden;
}

.blog-posts {
    margin-top: 6%;
}

.blog-post-img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.blog-post-area h6 {
    font-weight: 700;
    color: #111111;
}

.blog-post-area p {
    max-height: 100px;
    overflow: hidden;
    font-weight: 500;
}

.blog-post-area a {
    font-size: 14px;
}

/*------------- Blog CSS END -------------*/

/*------------- FAQS CSS START -------------*/
.faqs-accordion {
    margin-top: 1%;
}

.faqs-acco-bg {
    position: absolute;
    left: -25%;
    top: 0;
    z-index: -1;
    margin: -10% 0 0 0;
}

.accordion-panel {
    padding: 20px;
}

.panel-default > .panel-heading {
    padding: 0;
    border-radius: 0;
    color: #212121;
    background-color: #ffffff;
    box-shadow: 0 2px 5px -1px rgba(23, 38, 48, 0.06);
    margin-bottom: 20px;
}

.panel-default > .panel-heading a {
    color: #111111;
    font-weight: 600;
    font-size: 20px;
}

.panel-default > .panel-heading a i {
    color: #2c44ff;
}

.panel-title {
    font-size: 14px;
}

.panel-title > a {
    display: block;
    padding: 30px 20px 28px 20px;
    text-decoration: none;
}

.more-less {
    float: right;
    color: #212121;
}

/*------------- FAQs CSS END -------------*/

/*------------- Terms of use and service CSS START -------------*/

.term-use {
    margin-top: 5%;
}

.term-text h5 {
    font-size: 24px;
    font-weight: 700;
}

.term-text h6 {
    font-size: 18px;
    font-weight: 700;
}

.term-summery {
    background: #f2f4ff;
    padding: 5% 3%;
    border-radius: 10px;
}

.term-summery p {
    font-size: 20px;
    font-weight: 700;
}

.term-list {
    padding: 0;
    margin: 0 10px;
}

.term-list li {
    margin: 15px 0;
    list-style-position: inside;
}

/*------------- Terms of use and service CSS END -------------*/

/*------------- Influencers page CSS START -------------*/
.inf-top-bg img{
    position: absolute;
    top: -25px;
    right: -100px;
    width: 100%;
    height: auto;
}
.inf-right-img{
    position: relative;
    left: 32%;
    top: 10px;
    width: 90%;
}
.inf-head-text p{
    font-size: 15px;
    font-weight: 700;
    white-space: nowrap;
}
.inf-head-text p span{
    padding: 0 10px 0 0;
}
.inf-hit-work{
    position: relative;
    bottom: 10px;
}
.table-custom th{
    background: #f9f9ff;
    color: #777777;
    font-size: 14px;
    font-weight: 600;
    border-top: none;
    text-transform: uppercase;
    white-space: nowrap;
    border-bottom: none !important;
}
.form-custom{
    width: 50%;
    display: inline-block;
}
.table-row-custom tr:nth-child(1) td{
    border-top:none;
}
.table-row-custom td{
    font-weight: 600;
    vertical-align: middle;
    white-space: nowrap;
}
.table-row-custom select{
    font-weight: 600;
}
.box-cls{
    background:#f4f4f8;
    min-height: 180px;
}
.box-cls h5{
    font-weight: 700;
}
.inf-tbl-img img{
    width: 95px;
    height: 125px;
    object-fit: contain;
}
.inf-numbs{
    position: absolute;
    left: 0;
    right: 0;
    background: #E2E5ED;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border-radius: 100%;
    padding: 8px 0;
    color: #5d5d5d;
    bottom: 85%;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 500;
}
.boxoutline{
    border: 1px solid #e2e5ee;
    position: absolute;
    top: 30%;
    width: 102%;
    left: -10px;
    right: 0;
    transform: scaleX(1);
}
.boxoutline2{
    border: 1px solid #e2e5ee;
    position: absolute;
    bottom: 18%;
    width: 102%;
    left: -10px;
    right: 0;
    /*transform: scaleX(1);*/
    z-index: -1;
}
.inf-left-bdr{
    position: absolute;
    height: 52%;
    left: -10px;
    top: 30%;
    border-left: 2px solid #e2e5ee;
}
.inf-right-bdr{
    position: absolute;
    height: 52%;
    right: -12px;
    top: 30%;
    border-left: 2px solid #e2e5ee;
}
/*------------- Influencers page CSS END -------------*/


/*Responsive web design START*/

/*==========  Mobile First Method  ==========*/
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

@media only screen and (min-width: 1400px) {
    .header-img {padding: 20px 0 20px 50px;position: relative;right: -15px;}
}

/*==========  Non-Mobile First Method  ==========*/

/* Extra large devices (large laptops and desktops, 1200px and Down) */
@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 1024px) {}

/* Large devices (laptops/desktops, 992px and Down) */
@media only screen and (max-width: 992px) {
    h2 {font-size: 34px;}
    .header-heading h1 {font-size: 38px;line-height: 55px;}
    .header-heading p {width: 100%;margin: 10px 0;}
    /*.header-right-bnr{left: 20%}*/
    .header-img {padding: 20px 0 0 0;}
    .amazing-products {margin-top: 3%;}
    .proud-moment {margin-top: 6%;}
    .htw-qt-as h5 {font-size: 16px;}
    .htw-qt-as p {font-size: 14px;}
    .htw-qt-as {padding: 0;}
    .htw-head-bg {right: -50%;top: -35px;}
    .htw-top-img {width: 140%;}
    .pick-design .container {padding: 15px 20px 20px 20px;}
    .htw-text h2 {font-size: 38px;line-height: 48px;}
    .cus-right-img {width: 130%;}
    /*.abt-braces{font-size: 130px;bottom: 70%;left: -18px;}*/
    .about-ewi-text h3 {font-size: 20px;line-height: 30px;}
    .blog-post-area p {line-height: 22px;margin: 0 0 8px 0;}
    .boxoutline, .boxoutline2{width: 103%;}
}

@media only screen and (max-width: 991px) {
    .header-nav .navbar-nav {display: inline-block;margin-top: 15px;}
    .pro-custom-pills {display: block;}
    .pro-custom-pills .nav-link {display: inline-block;font-size: 14px;}
    .login-btn {background: #ffffff;color: #2b44ff;padding: 7px 45px;border: 1px solid #2b44ff;border-radius: 4px;}
    .abt-braces {left: 0;}
    .inf-right-img {left: 22%;top: 10px;width: 125%;}
    .inf-head-text p{white-space: initial;}

}

/* Medium devices (tablets, 768px and down) */
@media only screen and (max-width: 768px) {
    .header-right-bnr {position: static;}
    .footer-social {position: static;text-align: center;}
    .footer-social ul li a {font-size: 14px;margin: 0 3px;}
    .htw-head-bg {top: 0;right: -25%;}
    .htw-top-img {position: static;width: 120%;}
    .htw-pic-dsg-bg img {top: 0;right: 65%;}
    .dyp-main-img {position: static;}
    .htw-dsg-psn-bg img {left: 10%;}
    .blog-bg {left: 0;right: 0;}
    .cus-right-img {width: 100%;position: static;}
    .accordion-panel {padding: 5px;}
    .panel-default > .panel-heading a {font-size: 18px;}
    .abt-print-heading {padding: 0;}
    /*.about-ewi-text{padding: 0;}*/
    /*.abt-braces{font-size: 120px;bottom: 60%;left: -48px;}*/
    .cust-border-left {border: none;padding-left: auto;}
    .abt-ceo-bg, .blog-store-bg, .pm-bg-img, .abt-print-bg, .abt-number-bg, .contact-bg-art img, .htw-head-bg {display: none;}
    .connect-store {background: none;}
    .cus-right-bg {left: 0;width: 100%;}
    .login-btn {display: contents;}
    .inf-head-text{text-align: left;}
    .inf-head-text p {white-space: unset; font-size: 14px;}
    .inf-right-imgposition: {relative;left: 0;right: 0;margin: 0 auto;}
    .inf-top-bg img {position: absolute;top: 0;right: 0;width: 100%;height: auto;left: 0;z-index: -1;}
    .inf-right-img {margin: 0 auto;position: relative;left: 0;top: 0;right: 0;width: 90%;}
    .inf-left-bdr, .inf-right-bdr, .boxoutline, .boxoutline2{display: none;}
    .form-custom{width: 100%;}
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .about-ewi-text {padding: 0 0 0 8%;}
}

@media only screen and (max-width: 575px) {
    .team-imgs {padding: 0 15px 0 15px;}
    .htw-dsg-psn-bg img {top: 35%;left: 8%;}
    .blog-post-area p {line-height: 24px;}
    .thumb-img {display: flex;top: auto;right: 0;left: 0;bottom: -45px;background: #fff;margin: 15px auto;}
    .thumb-img li img {height: 60px;}
    .about-ewi-text {padding: 0 0 0 7%;}
    /*.abt-braces{font-size: 85px;bottom: 80%;left: -6px;}*/
    .htw-qt-as h5 {font-size: 22px;}
}

/* Extra small devices (phones, 480px and down) */
@media only screen and (max-width: 480px) {
    .htw-dsg-psn-bg img {top: 25%;left: 6%;}
    .panel-default > .panel-heading a {font-size: 16px;}
    .abt-braces {font-size: 52px;}
}

/* Extra small devices (phones, 360px and down) */
@media only screen and (max-width: 360px) {
    .footer-social ul li a {font-size: 14px;margin: 0 4px;}
    .abt-braces {font-size: 48px;}
}

/* Extra small devices (phones, 320px and down) */
@media only screen and (max-width: 320px) {
    .abt-braces {top: -35px;}
}
/*Responsive web design END*/